* {
    padding: 0;
    margin: 0;
}

#gameboard-container {

}

#gameboard {
    background-color: black;
    display: grid;
    grid-template-columns: 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem;

    width: calc(15rem + 6px);
    grid-gap: 3px;

    list-style-type: none;
}

.gameboard-square {
    /* border: 1px solid blue; */
    height: 5rem;
    width: 5rem;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;

}